<header th:fragment="navbar" id="header" class="header header_sticky position-absolute">
    <div class="container">
        <div class="header-desk header-desk_type_1">
            <div class="logo">
                <a href="/home">
                    <img th:src="@{/web/images/avatar-shinshop.jpg}" style="max-height : 60px" alt="Uomo" class="logo__image d-block">
                </a>
            </div><!-- /.logo -->

            <nav class="navigation">
                <ul class="navigation__list list-unstyled d-flex">
                    <li class="navigation__item">
                        <a href="/home" class="navigation__link">Trang chủ</a>
                    </li>
                    <li class="navigation__item">
                        <a th:href="@{/home/the-shop}" class="navigation__link">Sản phẩm</a>
                        <ul class="default-menu list-unstyled" style="left: 467px;">
                            <li class="sub-menu__item"><a href="account_dashboard.html" class="menu-link menu-link_us-s">ADIDAS</a></li>
                            <li class="sub-menu__item"><a href="account_dashboard.html" class="menu-link menu-link_us-s">NIKE</a></li>
                            <li class="sub-menu__item"><a href="account_dashboard.html" class="menu-link menu-link_us-s">VANS</a></li>
                            <li class="sub-menu__item"><a href="account_dashboard.html" class="menu-link menu-link_us-s">CONVERT</a></li>
                            <li class="sub-menu__item"><a href="account_dashboard.html" class="menu-link menu-link_us-s">ALEXANDER MCQUEEN</a></li>
                            <li class="sub-menu__item"><a href="account_dashboard.html" class="menu-link menu-link_us-s">NEW BALANCE</a></li>
                        </ul>
                    </li>
                    <li class="navigation__item">
                        <a th:href="@{/home/blog/blog-list}" style="height : 60px" class="navigation__link">Bài viết</a>
                    </li>
                    <li class="navigation__item">
                        <a th:href="@{/home/the-shop}" class="navigation__link">Sản phẩm bán chạy</a>
                    </li>
                    <li class="navigation__item">
                        <a href="about.html" class="navigation__link">Liên hệ với chúng tôi</a>
                    </li>
                </ul><!-- /.navigation__list -->
            </nav><!-- /.navigation -->

            <div class="header-tools d-flex align-items-center">
                <div class="header-tools__item hover-container">
                    <div class="js-hover__open position-relative">
                        <a class="js-search-popup search-field__actor" href="#">
                            <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_search"></use></svg>
                            <i class="btn-icon btn-close-lg"></i>
                        </a>
                    </div>

                    <div class="search-popup js-hidden-content">
                        <form action="/home/search-product" method="POST" class="search-field container">
                            <p class="text-uppercase text-secondary fw-medium mb-4">Tìm kiếm sản phẩm</p>
                            <div class="position-relative">
                                <input class="search-field__input search-popup__input w-100 fw-medium" type="text" name="search-keyword" placeholder="Tìm kiếm theo tên sản phẩm">
                                <button class="btn-icon search-popup__submit" type="submit">
                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_search"></use></svg>
                                </button>
                                <button class="btn-icon btn-close-lg search-popup__reset" type="reset"></button>
                            </div>
                        </form><!-- /.header-search -->
                    </div><!-- /.search-popup -->
                </div><!-- /.header-tools__item hover-container -->

                <div class="header-tools__item hover-container">
                    <a class="header-tools__item js-open-aside" th:href="@{/home/login}">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="user-detail"><use href="#icon_user"></use></svg>
                    </a>
                </div>

                <a href="#" class="header-tools__item header-tools__cart js-open-aside" data-aside="cartDrawer">
                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_cart"></use></svg>
                    <span class="cart-amount d-block position-absolute js-cart-items-count" th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span>
                </a>

                <a class="header-tools__item" href="account_wishlist.html">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart"></use></svg>
                </a>

                <a class="header-tools__item" href="#" data-bs-toggle="modal" data-bs-target="#siteMap">
                    <svg class="nav-icon" width="25" height="18" viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg"><use href="#icon_nav"></use></svg>
                </a>
            </div><!-- /.header__tools -->
        </div><!-- /.header-desk header-desk_type_1 -->
    </div><!-- /.container -->
</header>