<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="flexkit">

    <link rel="shortcut icon" href="https://uomo-html.flexkitux.com/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com/">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&amp;display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/web/css/plugins/swiper.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/plugins/jquery.fancybox.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/style.css}" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi tiết đơn hàng</title>
</head>
<body>
<div th:replace="web/fragments/unknow_code :: unknow_code"></div>

<div th:replace="web/fragments/navbar_mobile :: navbar_mobile"></div>

<!-- Header Type 1 -->
<header th:replace="web/fragments/navbar :: navbar"></header>
<!-- End Header Type 1 -->

<main style="padding-top: 90px;">
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">
      <h2 class="page-title">Chi tiết đơn hàng</h2>
      <div class="order-complete">
        <div class="order-complete__message">
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="40" fill="#B9A16B"></circle>
            <path d="M52.9743 35.7612C52.9743 35.3426 52.8069 34.9241 52.5056 34.6228L50.2288 32.346C49.9275 32.0446 49.5089 31.8772 49.0904 31.8772C48.6719 31.8772 48.2533 32.0446 47.952 32.346L36.9699 43.3449L32.048 38.4062C31.7467 38.1049 31.3281 37.9375 30.9096 37.9375C30.4911 37.9375 30.0725 38.1049 29.7712 38.4062L27.4944 40.683C27.1931 40.9844 27.0257 41.4029 27.0257 41.8214C27.0257 42.24 27.1931 42.6585 27.4944 42.9598L33.5547 49.0201L35.8315 51.2969C36.1328 51.5982 36.5513 51.7656 36.9699 51.7656C37.3884 51.7656 37.8069 51.5982 38.1083 51.2969L40.385 49.0201L52.5056 36.8996C52.8069 36.5982 52.9743 36.1797 52.9743 35.7612Z" fill="white"></path>
          </svg>
          <h3>Đơn hàng đã đặt thành công!</h3>
          <p>Xin cảm ơn!. Đơn hàng của quý khách đã được gửi đến chúng tôi</p>
        </div>
        <div class="order-info">
          <div class="order-info__item">
            <label>Mã đơn hàng</label>
            <span th:text="${order.id}"></span>
          </div>
          <div class="order-info__item">
            <label>Ngày đặt hàng</label>
            <span th:text="${order.getFormattedOrderDate()}"></span>
          </div>
          <div class="order-info__item">
            <label>Tổng tiền</label>
            <span></span>
          </div>
          <div class="order-info__item">
            <label>Phương thức thanh toán</label>
            <span th:text="${order.payMethod}"></span>
          </div>
        </div>
        <div class="checkout__totals-wrapper">
          <div class="checkout__totals">
            <table class="checkout-cart-items">
              <thead>
                <tr>
                  <th>Sản phẩm</th>
                  <th th:text="${order.getTotalPriceVND()}"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="orderItem : ${order.getOrderDetails()}">
                  <td th:text="${orderItem.getProduct().getName()} + ' x' + ${orderItem.soluong}">

                  </td>
                  <td th:text="${orderItem.getTotalPriceVND()}">

                  </td>
                </tr>
              </tbody>
            </table>
            <table class="checkout-totals">
              <tbody>
                  <tr>
                      <th>Ghi chú  </th>
                      <td th:text="${order.ghiChu}">/td>
                  </tr>
                <tr>
                  <th>Tạm Tính  </th>
                  <td th:text="${order.getSubTotalVND()}">/td>
                </tr>
                <tr>
                  <th>Phí Ship</th>
                  <td>35.000</td>
                </tr>
                <tr>
                  <th>Tổng tiền</th>
                  <td th:text="${order.getTotalPriceVND()}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>

<div class="mb-5 pb-xl-5"></div>

<!-- Footer Type 1 -->
<footer th:replace="web/fragments/footer :: footer"></footer><!-- /.footer footer_type_1 -->
<!-- End Footer Type 1 -->

<!-- Mobile Fixed Footer -->
<footer th:replace="web/fragments/footer_mobile :: footer_mobile"></footer><!-- /.footer-mobile container position-fixed d-md-none bottom-0 -->
<!-- Customer Login Form -->
<div class="aside aside_right overflow-hidden customer-forms" id="customerForms">
    <div class="customer-forms__wrapper d-flex position-relative">
        <div class="customer__login">
            <div class="aside-header d-flex align-items-center">
                <h3 class="text-uppercase fs-6 mb-0">Login</h3>
                <button class="btn-close-lg js-close-aside ms-auto"></button>
            </div><!-- /.aside-header -->

            <form action="https://uomo-html.flexkitux.com/Demo10/login_register.html" method="POST" class="aside-content">
                <div class="form-floating mb-3">
                    <input name="email" type="email" class="form-control form-control_gray" id="customerNameEmailInput" placeholder="name@example.com">
                    <label for="customerNameEmailInput">Username or email address *</label>
                </div>

                <div class="pb-3"></div>

                <div class="form-label-fixed mb-3">
                    <label for="customerPasswordInput" class="form-label">Password *</label>
                    <input name="password" id="customerPasswordInput" class="form-control form-control_gray" type="password" placeholder="********">
                </div>

                <div class="d-flex align-items-center mb-3 pb-2">
                    <div class="form-check mb-0">
                        <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-secondary" for="flexCheckDefault">Remember me</label>
                    </div>
                    <a href="reset_password.html" class="btn-text ms-auto">Lost password?</a>
                </div>

                <button class="btn btn-primary w-100 text-uppercase" type="submit">Log In</button>

                <div class="customer-option mt-4 text-center">
                    <span class="text-secondary">No account yet?</span>
                    <a href="login_register.html#register-tab" class="btn-text js-show-register">Create Account</a>
                </div>
            </form>
        </div><!-- /.customer__login -->

        <div class="customer__register">
            <div class="aside-header d-flex align-items-center">
                <h3 class="text-uppercase fs-6 mb-0">Create an account</h3>
                <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
            </div><!-- /.aside-header -->

            <form action="https://uomo-html.flexkitux.com/Demo10/login_register.html" method="POST" class="aside-content">
                <div class="form-floating mb-4">
                    <input name="username" type="text" class="form-control form-control_gray" id="registerUserNameInput" placeholder="Username">
                    <label for="registerUserNameInput">Username</label>
                </div>

                <div class="pb-1"></div>

                <div class="form-floating mb-4">
                    <input name="email" type="email" class="form-control form-control_gray" id="registerUserEmailInput" placeholder="user@company.com">
                    <label for="registerUserEmailInput">Email address *</label>
                </div>

                <div class="pb-1"></div>

                <div class="form-label-fixed mb-4">
                    <label for="registerPasswordInput" class="form-label">Password *</label>
                    <input name="password" id="registerPasswordInput" class="form-control form-control_gray" type="password" placeholder="*******">
                </div>

                <p class="text-secondary mb-4">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>

                <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>

                <div class="customer-option mt-4 text-center">
                    <span class="text-secondary">Already have account?</span>
                    <a href="#" class="btn-text js-show-login">Login</a>
                </div>
            </form>
        </div><!-- /.customer__register -->
    </div><!-- /.customer-forms__wrapper -->
</div><!-- /.aside aside_right -->

<div th:replace="web/fragments/cart_drawer :: cart_drawer"></div>

<!-- Sitemap -->
<div class="modal fade" id="siteMap" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="sitemap d-flex">
            <div class="w-50 d-none d-lg-block">
                <img loading="lazy" src="../images/nav-bg.jpg" alt="Site map" class="sitemap__bg">
            </div><!-- /.sitemap__bg w-50 d-none d-lg-block -->
            <div class="sitemap__links w-50 flex-grow-1">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active rounded-1 text-uppercase" id="pills-item-1-tab" data-bs-toggle="pill" href="#pills-item-1" role="tab" aria-controls="pills-item-1" aria-selected="true">WOMEN</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link rounded-1 text-uppercase" id="pills-item-2-tab" data-bs-toggle="pill" href="#pills-item-2" role="tab" aria-controls="pills-item-2" aria-selected="false">MEN</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link rounded-1 text-uppercase" id="pills-item-3-tab" data-bs-toggle="pill" href="#pills-item-3" role="tab" aria-controls="pills-item-3" aria-selected="false">KIDS</a>
                            </li>
                        </ul>
                        <button type="button" class="btn-close-lg" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="tab-content col-12" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-item-1" role="tabpanel" aria-labelledby="pills-item-1-tab">
                                <div class="row">
                                    <ul class="nav nav-tabs list-unstyled col-5 d-block" id="myTab" role="tablist">
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline active" id="tab-item-1-tab" data-bs-toggle="tab" href="#tab-item-1" role="tab" aria-controls="tab-item-1" aria-selected="true"><span class="rline-content">WOMEN</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" id="tab-item-2-tab" data-bs-toggle="tab" href="#tab-item-2" role="tab" aria-controls="tab-item-2" aria-selected="false"><span class="rline-content">MAN</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" id="tab-item-3-tab" data-bs-toggle="tab" href="#tab-item-3" role="tab" aria-controls="tab-item-3" aria-selected="false"><span class="rline-content">KIDS</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">HOME</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">COLLECTION</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline text-red" href="#">SALE UP TO 50% OFF</a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">NEW</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">SHOES</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">ACCESSORIES</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">JOIN LIFE</span></a>
                                        </li>
                                        <li class="nav-item position-relative" role="presentation">
                                            <a class="nav-link nav-link_rline" href="#"><span class="rline-content">#UOMOSTYLE</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content col-7" id="myTabContent">
                                        <div class="tab-pane fade show active" id="tab-item-1" role="tabpanel" aria-labelledby="tab-item-1-tab">
                                            <ul class="sub-menu list-unstyled">
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">New</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Best Sellers</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Collaborations®</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Sets</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Denim</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Jackets & Coats</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Overshirts</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Trousers</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Jeans</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Dresses</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Sweatshirts and Hoodies</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">T-shirts & Tops</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shirts & Blouses</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shorts and Bermudas</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shoes</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="shop3.html" class="menu-link menu-link_us-s">Accessories</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Bags</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="about.html" class="menu-link menu-link_us-s">Gift Card</a>
                                                </li>
                                            </ul><!-- /.sub-menu -->
                                        </div>
                                        <div class="tab-pane fade" id="tab-item-2" role="tabpanel" aria-labelledby="tab-item-2-tab">
                                            <ul class="sub-menu list-unstyled">
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Best Sellers</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">New</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Sets</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Denim</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Collaborations®</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Trousers</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Jackets & Coats</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Overshirts</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Dresses</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Jeans</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Sweatshirts and Hoodies</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="about.html" class="menu-link menu-link_us-s">Gift Card</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shirts & Blouses</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">T-shirts & Tops</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shorts and Bermudas</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="shop3.html" class="menu-link menu-link_us-s">Accessories</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shoes</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Bags</a>
                                                </li>
                                            </ul><!-- /.sub-menu -->
                                        </div>
                                        <div class="tab-pane fade" id="tab-item-3" role="tabpanel" aria-labelledby="tab-item-3-tab">
                                            <ul class="sub-menu list-unstyled">
                                                <li class="sub-menu__item">
                                                    <a href="about.html" class="menu-link menu-link_us-s">Gift Card</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Collaborations®</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Sets</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Denim</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">New</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Best Sellers</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Overshirts</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Jackets & Coats</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Jeans</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Trousers</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shorts and Bermudas</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Shoes</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="shop3.html" class="menu-link menu-link_us-s">Accessories</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Dresses</a>
                                                </li>
                                                <li class="sub-menu__item">
                                                    <a href="#" class="menu-link menu-link_us-s">Bags</a>
                                                </li>
                                            </ul><!-- /.sub-menu -->
                                        </div>
                                    </div>
                                </div><!-- /.row -->
                            </div>
                            <div class="tab-pane fade" id="pills-item-2" role="tabpanel" aria-labelledby="pills-item-2-tab">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                Elementum lectus a porta commodo suspendisse arcu, aliquam lectus faucibus.
                            </div>
                            <div class="tab-pane fade" id="pills-item-3" role="tabpanel" aria-labelledby="pills-item-3-tab">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                            </div>
                        </div>
                    </div><!-- /.modal-body -->
                </div><!-- /.modal-content -->
            </div><!-- /.sitemap__links w-50 flex-grow-1 -->
        </div>
    </div><!-- /.modal-dialog modal-fullscreen -->
</div><!-- /.sitemap position-fixed w-100 -->

<!-- Quick View -->
<div class="modal fade" id="quickView" tabindex="-1">
    <div class="modal-dialog quick-view modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="product-single">
                <div class="product-single__media m-0">
                    <div class="product-single__image position-relative w-100">
                        <div class="swiper-container js-swiper-slider"
                             data-settings='{
                  "slidesPerView": 1,
                  "slidesPerGroup": 1,
                  "effect": "none",
                  "loop": false,
                  "navigation": {
                    "nextEl": ".modal-dialog.quick-view .product-single__media .swiper-button-next",
                    "prevEl": ".modal-dialog.quick-view .product-single__media .swiper-button-prev"
                  }
                }'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide product-single__image-item">
                                    <img loading="lazy" src="../images/products/quickview_1.jpg" alt="">
                                </div>
                                <div class="swiper-slide product-single__image-item">
                                    <img loading="lazy" src="../images/products/quickview_2.jpg" alt="">
                                </div>
                                <div class="swiper-slide product-single__image-item">
                                    <img loading="lazy" src="../images/products/quickview_3.jpg" alt="">
                                </div>
                                <div class="swiper-slide product-single__image-item">
                                    <img loading="lazy" src="../images/products/quickview_4.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-button-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></div>
                            <div class="swiper-button-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></div>
                        </div>
                    </div>
                </div>
                <div class="product-single__detail">
                    <h1 class="product-single__name">Lightweight Puffer Jacket With a Hood</h1>
                    <div class="product-single__price">
                        <span class="current-price">$449</span>
                    </div>
                    <div class="product-single__short-desc">
                        <p>Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet magna posuere eget.</p>
                    </div>
                    <form name="addtocart-form" method="post">
                        <div class="product-single__swatches">
                            <div class="product-swatch text-swatches">
                                <label>Sizes</label>
                                <div class="swatch-list">
                                    <input type="radio" name="size" id="swatch-1">
                                    <label class="swatch js-swatch" for="swatch-1" aria-label="Extra Small" data-bs-toggle="tooltip" data-bs-placement="top" title="Extra Small">XS</label>
                                    <input type="radio" name="size" id="swatch-2" checked>
                                    <label class="swatch js-swatch" for="swatch-2" aria-label="Small" data-bs-toggle="tooltip" data-bs-placement="top" title="Small">S</label>
                                    <input type="radio" name="size" id="swatch-3">
                                    <label class="swatch js-swatch" for="swatch-3" aria-label="Middle" data-bs-toggle="tooltip" data-bs-placement="top" title="Middle">M</label>
                                    <input type="radio" name="size" id="swatch-4">
                                    <label class="swatch js-swatch" for="swatch-4" aria-label="Large" data-bs-toggle="tooltip" data-bs-placement="top" title="Large">L</label>
                                    <input type="radio" name="size" id="swatch-5">
                                    <label class="swatch js-swatch" for="swatch-5" aria-label="Extra Large" data-bs-toggle="tooltip" data-bs-placement="top" title="Extra Large">XL</label>
                                </div>
                                <a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>
                            </div>
                            <div class="product-swatch color-swatches">
                                <label>Color</label>
                                <div class="swatch-list">
                                    <input type="radio" name="color" id="swatch-11">
                                    <label class="swatch swatch-color js-swatch" for="swatch-11" aria-label="Black" data-bs-toggle="tooltip" data-bs-placement="top" title="Black" style="color: #222"></label>
                                    <input type="radio" name="color" id="swatch-12" checked>
                                    <label class="swatch swatch-color js-swatch" for="swatch-12" aria-label="Red" data-bs-toggle="tooltip" data-bs-placement="top" title="Red" style="color: #C93A3E"></label>
                                    <input type="radio" name="color" id="swatch-13">
                                    <label class="swatch swatch-color js-swatch" for="swatch-13" aria-label="Grey" data-bs-toggle="tooltip" data-bs-placement="top" title="Grey" style="color: #E4E4E4"></label>
                                </div>
                            </div>
                        </div>
                        <div class="product-single__addtocart">
                            <div class="qty-control position-relative">
                                <input type="number" name="quantity" value="1" min="1" class="qty-control__number text-center">
                                <div class="qty-control__reduce">-</div>
                                <div class="qty-control__increase">+</div>
                            </div><!-- .qty-control -->
                            <button type="submit" class="btn btn-primary btn-addtocart js-open-aside" data-aside="cartDrawer">Add to Cart</button>
                        </div>
                    </form>
                    <div class="product-single__addtolinks">
                        <a href="#" class="menu-link menu-link_us-s add-to-wishlist"><svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg><span>Add to Wishlist</span></a>
                        <share-button class="share-button">
                            <button class="menu-link menu-link_us-s to-share border-0 bg-transparent d-flex align-items-center">
                                <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_sharing" /></svg>
                            </button>
                            <details id="Details-share-template__main" class="m-1 xl:m-1.5" hidden="">
                                <summary class="btn-solid m-1 xl:m-1.5 pt-3.5 pb-3 px-5">+</summary>
                                <div id="Article-share-template__main" class="share-button__fallback flex items-center absolute top-full left-0 w-full px-2 py-4 bg-container shadow-theme border-t z-10">
                                    <div class="field grow mr-4">
                                        <label class="field__label sr-only" for="url">Link</label>
                                        <input type="text" class="field__input w-full" id="url" value="https://uomo-crystal.myshopify.com/blogs/news/go-to-wellness-tips-for-mental-health" placeholder="Link" onclick="this.select();" readonly="">
                                    </div>
                                    <button class="share-button__copy no-js-hidden">
                                        <svg class="icon icon-clipboard inline-block mr-1" width="11" height="13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 11 13">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z" fill="currentColor"></path>
                                        </svg>
                                        <span class="sr-only">Copy link</span>
                                    </button>
                                </div>
                            </details>
                        </share-button>
                        <script src="js/details-disclosure.js" defer="defer"></script>
                        <script src="js/share.js" defer="defer"></script>
                    </div>
                    <div class="product-single__meta-info mb-0">
                        <div class="meta-item">
                            <label>SKU:</label>
                            <span>N/A</span>
                        </div>
                        <div class="meta-item">
                            <label>Categories:</label>
                            <span>Casual & Urban Wear, Jackets, Men</span>
                        </div>
                        <div class="meta-item">
                            <label>Tags:</label>
                            <span>biker, black, bomber, leather</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.quickview position-fixed -->

<!-- Go To Top -->
<div id="scrollTop" class="visually-hidden end-0"></div>

<!-- Page Overlay -->
<div class="page-overlay"></div><!-- /.page-overlay -->

<!-- External JavaScripts -->
<script th:src="@{/web/js/plugins/jquery.min.js}"></script>
<script th:src="@{/web/js/plugins/bootstrap.bundle.min.js}"></script>
<script th:src="@{/web/js/plugins/bootstrap-slider.min.js}"></script>

<script th:src="@{/web/js/plugins/swiper.min.js}"></script>
<script th:src="@{/web/js/plugins/countdown.js}"></script>
<script th:src="@{/web/js/plugins/jquery.fancybox.js}"></script>

<!-- Footer Scripts -->
<script th:src="@{/web/js/theme.js}"></script>
<script th:src="@{/web/js/ajax/shopping-cart.js}"></script>
<script th:src="@{/web/js/ajax/home.js}"></script>


</body>
</html>